<div class="min-h-screen bg-gray-100">
  <header class="pb-24 bg-indigo-600">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="relative py-5 flex items-center justify-center lg:justify-between">
      </div>
    </div>
  </header>
  <main class="-mt-24 pb-8">
    <div class="max-w-3xl mx-auto px-4 sm:px-6 lg:max-w-7xl lg:px-8">
      <div class="grid grid-cols-1 gap-4 items-start lg:grid-cols-3 lg:gap-8">
        <div class="grid grid-cols-1 gap-4 lg:col-span-2">
          <section aria-labelledby="section-1-title">
            <div class="rounded-lg bg-white overflow-hidden shadow">
              <div class="p-6">
                <order-form></order-form>
              </div>
            </div>
          </section>
          <section aria-labelledby="section-1-title">
            <div class="rounded-lg bg-white overflow-hidden shadow">
              <div class="p-6">
                <order-change></order-change>
              </div>
            </div>
          </section>
        </div>

        <div class="grid grid-cols-1 gap-4">
          <section aria-labelledby="section-2-title">
            <div class="rounded-lg bg-white overflow-hidden shadow">
              <div class="p-6">
                <order-list></order-list>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>
